input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #03ad89;
}

.button-container {
  display: flex;
  justify-content: center;
}

/* .login-form {
  background-color: white;
  padding: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

/* .form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.bgimage {
  /* background-image: url("https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-image: no-repeat; */
  background-color: #01ab8d;
}

.card-container.card {
  max-width: 550px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  background-image: "https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500";
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(102, 95, 95, 0.849);
  -webkit-box-shadow: 0px 2px 2px rgba(83, 77, 77, 0.836);
  box-shadow: 6px 6px 15px rgba(80, 77, 77, 0.452);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}
/* .bgbox {
  height: 100px;
  width: 300px;
  border: 1px solid blue;
  background-color: blue;
} */
.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.App {
  text-align: center;
  /* background-color: green; */
}

.label {
  display: block;
  font-size: larger;
  color: black;
  padding: 5px;
}

.input {
  font-size: larger;
  padding: 2px;
  margin: 2px;
}
.btn {
  color: white;
  background-color: green;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
}

.messages {
  display: flex;
  justify-content: center;
}

.error {
  display: block;
  background-color: #f7f7f7;
  color: red;
  width: fit-content;
  height: 50px;
  padding: 5px;
}

.success {
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
}
